body img{

    width:100%;
/*
          background-image: -moz-linear-gradient(#fff, #133e79);
    background-image: -webkit-gradient(color-stop(#fff), color-stop(#133e79));
    background-image: -webkit-linear-gradient(#fff, #133e79);
    background-image: -o-linear-gradient(#fff, #133e79);
    background-image: -ms-linear-gradient(#fff, #133e79);
    background-image: linear-gradient(#fff, #133e79);
   /* filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff, GradientType=1);*/
}
textarea {
    resize: none;
}
/*fixed bg*/
html, body {
    height: 100%;

}
@font-face {
    font-family: "Fox & Cat";
    src: url("../font-awesome/fonts/Fox_Cat.ttf");
}
body{
     background-color: #bcd6e1;
 }
h1{
    font-family: "Fox & Cat", sans-serif;
    color: #fff;
    font-size: 150px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 16px 0 0;
    border: none;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 5px 5px 0 rgba(188,188,188,1) ;
}
h3{
     font-family: "Fox & Cat", sans-serif;
     color: #000;
     font-size: 50px;
     display: inline-block;
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     padding: 16px 0 0;
     border: none;
     text-align: center;
     -o-text-overflow: clip;
     text-overflow: clip;
     text-shadow: 5px 5px 0 rgba(188,188,188,1) ;
 }

.cd-fixed-background .cd-content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.cd-fixed-background .cd-content::after {
    /* phone image on small devices */
    content: '';
    display: block;
    width: 100%;
    padding: 60% 0;
    margin: 2em auto 0;
}
.cd-fixed-background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cd-fixed-background.img-1 {
    background-image: url("images/BG1.png");
}

.cd-fixed-background.img-2 {
    background-image: url("../img/img-2.jpg");
}

.cd-fixed-background.img-3 {
    background-image: url("../img/img-3.jpg");
}

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

/* HEADER*/
header * {
    margin: 0px;
    padding: 0px;
}
header img{
    margin: 0 auto;
    padding: 0px;
    width:500px;
}
header ul,
ol {
    list-style: none outside none;
}

header li {
    display: inline;
}

header {
  /*  background-color: #fff;
      background-image: -moz-radial-gradient(center, ellipse cover, #133e79 1%, #00510f 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(1%, #133e79), color-stop(100%, #00510f));
    background-image: -webkit-radial-gradient(center, ellipse cover, #133e79 1%, #00510f 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #133e79 1%, #00510f 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, #17882c 1%, #00510f 100%);
    background-image: radial-gradient(ellipse at center, #17882c 1%, #00510f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff, GradientType=1);
    color: #fff;
  padding: 7px 0 0;*/
}

header .accessibility-language-actions-container {
    height: 25px;
    overflow: hidden;
}

header #accessibility {
    font-family: Arial, Helvetica, sans-serif!important;
    margin: 0;
    line-height: 5px;
    padding-top: 2px;
}

header #accessibility li {
    line-height: 5px;
    margin: 0 10px 0 0;
}

header #accessibility a {
    color: #dcffe3;
    font-size: .7em;
}

header #accessibility a span {
    background-color: #cad2cc;
    color: #195128;
    padding: 0 2px 0 3px;
}

header #accessibility a:hover {
    background: #788b7d;
}

header #portal-siteactions,
header #language {
    border-bottom: 1px dotted #abbeb0;
    text-transform: uppercase;
    margin: -6px 0 0 0;
}

header #portal-siteactions li,
header #language li {
    margin: 0 16px 0 0;
}

header #portal-siteactions li:last-child,
header #language li:last-child {
    margin-right: 0!important;
}

header #portal-siteactions a,
header #language a {
    color: #dcffe3;
    font-size: .73em;
}

header #portal-siteactions a:hover,
header #language a:hover {
    text-decoration: underline;
}

header #logo {
    margin: 3px 0 10px;
}

header #logo a {
    color: #fff;
}

header #logo .portal-title-1 {
    font-size: .85em;
    display: block;
    height: 21px;
}

header #logo h1 {
    font-family: open_sansextrabold, 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: .8em;
    font-weight: 800;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

header #logo .portal-description {
    font-size: 0.8em;
    text-transform: uppercase;
    position: relative;
    top: 4px;
}

header #logo.small {
    margin: 13px 0 10px;
}

header #logo.small h1 {
    font-size: 2.4em;
    font-family: open_sansbold, 'Open Sans', Arial, Helvetica, sans-serif;
}

header #logo.big {
    margin: 10px 0 13px;
}

header #logo.big h1 {
    font-size: 3.6em;
    font-family: open_sansbold, 'Open Sans', Arial, Helvetica, sans-serif;
}

header div.sobre {
    background-color: #00420c;
    border-bottom: 2px solid #00420c;
}

header div.sobre ul {
    margin: 8px 0;
    line-height: 1em;
}

header div.sobre li {
    border-right: 1px solid #2f5439;
    padding: 0 10px;
    line-height: 1em;
}

header div.sobre li:last-child {
    border: 0;
    padding-right: 0;
}

header div.sobre a {
    color: #fff;
    font-size: .88em;
}

header div.sobre a:hover {
    text-decoration: underline;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
/* MAIN APP*/

#app {
    margin-top: 10px;
}
/* LOGIN */

#login .login-extras {
    line-height: 34px;
}

#login .cadastro-nao {
    height: 254px;
}

#login #nucpf {
    width: 100%;
}
/* INICIO */
#inicio{
    margin-top: 150px;
}

/* NAVBAR */


.navbar-collapse:before,
.navbar-collapse:after {
    display: inline;
    content: "";
}



/* FORM */

fieldset {
    margin-top: 20px;
}

fieldset.well {
    padding: 15px 0px 0px 0px;
    background-color: transparent;
}

fieldset.well > legend {
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    border-color: #DDD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

fieldset > div.form-group > label {
    margin-bottom: 0px;
}

.required:after {
    content: "*";
    color: #A94442;
}

.question-group {
    width: auto;
    margin-bottom: 0px;
    font-size: 100%;
    line-height: inherit;
}
/* CADASTRO */

#nucpf {
    width: 10em;
}

#nurg1 {
    width: 8em;
}

/*#cdufrg {
    width: 5em;
}*/

#dtnascimento {
    width: 8em;
}

.sexo-group {
    margin-bottom: 15px;
}

#dcescolaridade {
    width: 12em;
}
/* CADASTRO - ocupação 

div.panel.combo-p > .panel-body {
    padding: 0px;
}

#cdocupacao + .textbox > .tooltip {
    top: 2px !important;
    right: 25px;
    left: auto !important;
}

#cdocupacao + .textbox .tooltip-arrow {
    display: none;
}*/

#labelocupacao {
    margin-bottom: 6px;
}

#dccep {
    width: 8em;
}

#dccduf {
    width: 5em;
}

.about-section {
    height: 100%;
    background-color: #8ad4dd;
}
h2{
    font-family: "Fox & Cat", sans-serif;
    color: #fff;
    font-size: 50px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 16px 0 0;
    border: none;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 5px 5px 0 rgba(188,188,188,1) ;
}
/* FAQ */

.faq-menu {
    margin-top: 15px;
}

.faq-menu li {
    line-height: 2em;
}

.faq-list {
    margin: 20px;
}

.faq-list + ul {
    list-style: none;
}

.faq-pergunta {
    font-weight: 700;
}

.faq-resposta {
    padding-left: 10px;
    margin-bottom: 20px;
}
/* CONTATOS */

#contatos dd {
    margin-bottom: 1em;
    margin-left: 1em;
}

/* FOOTER 

footer {
    background: #00420c;
}

footer .footer-atalhos {
    background: #fff;
    border-bottom: 2px solid #00420c;
}

footer .footer-atalhos .container {
    padding: 10px 0 25px;
}

footer .footer-atalhos .voltar-ao-topo a {
    color: #717782;
}

footer .footer-atalhos .voltar-ao-topo a:hover {
    text-decoration: underline;
}

footer .container-menus {
    padding: 46px 0 0;
}

footer .row {
    margin-bottom: 13px;
}

footer nav {
    border-left: 1px dotted #80a887;
    padding: 0 5px 0 10px;
}

footer nav h2 {
    font-size: 1.3em;
    font-weight: 700;
    color: #61b06f;
    line-height: 1.3em;
    padding: 5px 0;
}

footer nav ul {
    margin-left: 0;
}

footer nav li {
    display: block;
    padding-bottom: 3px;
}

footer nav a {
    font-size: .9em;
    color: #fff;
    line-height: .9em;
}

footer nav a:hover {
    color: #fff;
    text-decoration: underline;
}

footer .footer-menus {
    padding-bottom: 10px;
}

footer .footer-logos {
    padding: 25px 0;
    background: #002907;
}

footer .footer-ferramenta {
    background: #fff;
    padding: 17px 0 11px;
}

footer .footer-ferramenta p {
    font-size: .91em;
    line-height: 1em;
}*/
/* alto contraste para acessibilidade */

.contraste {
    background-color: #0d0d0d!important;
    color: #fff;
}

.contraste a {
    color: #ff0;
}

.contraste a:hover,
.contraste a:focus {
    color: #ff0;
}

.contraste h1 small,
.contraste h2 small,
.contraste h3 small,
.contraste h4 small,
.contraste h5 small,
.contraste h6 small {
    color: #ccc;
}

.contraste figure figcaption {
    background-color: #1a1a1a;
}

.contraste::selection {
    color: #111;
    background-color: #fff;
}

.contraste::-moz-selection {
    color: #111;
    background-color: #fff;
}

.contraste .form-control:-moz-placeholder {
    color: #fff;
}

.contraste .form-control::-moz-placeholder {
    color: #fff;
}

.contraste .form-control:-ms-input-placeholder {
    color: #fff;
}

.contraste .form-control::-webkit-input-placeholder {
    color: #fff;
}

.contraste .form-control:focus {
    border-color: #fff;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(255, 255, 255, .6);
}

.contraste .btn-default {
    background-color: #262626;
    color: #fff;
    border-color: #1a1a1a;
}

.contraste .btn-default:hover,
.contraste .btn-default:focus {
    background-color: #1a1a1a;
}

.contraste input {
    background-color: #262626;
    color: #fff;
}

.contraste header {
    background-color: #000;
    background-image: -moz-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
    background-image: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(1%, #000), color-stop(100%, #000));
    background-image: -webkit-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
    background-image: -ms-radial-gradient(center, ellipse cover, #000 1%, #000 100%);
    background-image: radial-gradient(ellipse at center, #000 1%, #000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000, GradientType=1);
    color: #fff;
    border-top-color: #0d0d0d;
}

.contraste header .active a {
    color: #cfc;
}

.contraste header #accessibility a {
    color: #ff0;
}

.contraste header #accessibility a:hover {
    background: #FFF;
    color: #000;
}

.contraste header #accessibility a span {
    background: #FFF;
    color: #000;
}

.contraste header #logo a {
    color: #ff0;
}

.contraste header .sobre {
    background: #1c1c1c;
    border-color: #ff0;
}

.contraste header .sobre li {
    border-color: #383838;
}

.contraste header .sobre a {
    color: #ff0;
}

.contraste header #portal-siteactions,
.contraste header #language {
    border-color: #666;
}

.contraste header #portal-siteactions a,
.contraste header #language a {
    color: #ff0;
}

.contraste header #portal-searchbox input[placeholder],
.contraste header #portal-searchbox [placeholder],
.contraste header #portal-searchbox [placeholder] {
    color: #ff0!important;
}

.contraste header #portal-searchbox input {
    color: #FFF;
}

.contraste header #portal-searchbox input:focus {
    background-color: #000;
}

.contraste header #portal-searchbox .searchButton {
    background: #ff0;
    color: #000;
}

.contraste header #social-icons a {
    color: #ff0;
}

.contraste header #social-icons a:hover {
    color: #fff;
}
/* header media queries */

@media (min-width: 980px) {
    header .container,
    main .container,
    footer .container {
        width: 960px;
    }
}
    
@media (max-width: 979px) {
    header .accessibility-container {
        display: none!important;
    }
    header .language-and-actions-container {
        width: 100%!important;
        margin-left: 0!important;
        margin-right: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
    }
    header .language-and-actions-container #portal-siteactions {
        width: 100%!important;
        margin-left: 0!important;
        margin-right: 0!important;
        padding-right: 0!important;
        padding-left: 0!important;
        text-align: center;
    }
    header .language-and-actions-container #portal-siteactions a {
        font-size: .81em;
    }
    header #logo h1 {
        line-height: 1.1em;
    }
    
@media (max-width: 767px) {
    header .accessibility-container {
        display: none !important;
    }

    header .language-and-actions-container {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    header .language-and-actions-container #portal-siteactions {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        text-align: center;
    }

    header .language-and-actions-container #portal-siteactions a {
        font-size: .81em;
    }

    header #logo h1 {
        line-height: 1.1em;
    }

}.Container
 {
     text-align: center;
 }

    .Container:before
    {
        content: '';
        height: 200px;
        display: inline-block;
        vertical-align: middle;
    }

    .Content
    {
        display: inline-block;
        vertical-align: middle;
        height: 200px;

    }